body {
  padding: 3.2rem;
  padding-bottom: 6rem;
  color: #252525;
  background-color: #f7f2e9;
  border-bottom: 1.6rem solid #edc84b;
}
.app-title {
  color: #edc84b;
  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.btn {
  background-color: blueviolet;
  color: white;
  padding: 10px;
}
