@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Codystar:wght@300;400&family=Manrope:wght@200..800&family=Monoton&family=Mozilla+Headline:wght@200..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&family=Playwrite+NO:wght@100..400&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding-bottom: 6rem;
  color: #252525;
  background-color: #f7f2e9;
  border-bottom: 1.6rem solid #edc84b;
  font-family: "Playwrite NO", cursive;
}
.app-title {
  color: #edc84b;
  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

.btn {
  background-color: #edc84b;
  color: white;
  padding: 10px;
  border: transparent;
  padding: 10px 5px;
  border-radius: 10px;
  transition: 1s;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.pizza-card img {
  height: 200px;
  margin-right: 20px;
  border-radius: 10px;
}

.pizza-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  margin: 80px 20px;
  box-shadow: 1px 1px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.pizza-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sold-out {
  background-color: gray;
  opacity: 0.5;
}

.sold-out img {
  opacity: 0.2;
}
